.Home {
  .loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .show-more {
    text-align: center;
    text-decoration: none;

    p {
      font-weight: 500;
      transition: all 0.2s;

      &:hover {
        color: $theme-btn-secondary;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .Home {
    .show-more {
      p {
        font-size: 2.2rem;
      }
    }
  }
}
