.GitHubBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid $theme-btn;
    border-radius: 3px;

    p {
      font-size: 1.7rem;
      color: $black;
      margin: auto 0;

      span {
        font-size: 1.7rem;
      }
    }
  }
}
