.ProjectLink {
  margin-right: 1.5rem;
  color: $dark-mode-white;
  cursor: pointer;
  text-decoration: none;
  transition: all .2s;
  
  .project-link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .project-link-icon {
      margin-bottom: 1rem;
      justify-content: center;
      font-size: 3rem;
    }
    
    .action-text {
      font-size: 1.5rem;
    }
  }
  
  &:hover {
    color: $theme-btn-secondary;
  }
}