*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

body {
  position: relative;
  box-sizing: border-box;
}

.dark-mode {
  background-color: $dark-mode-main;

  .Nav {
    background-color: $dark-mode-main;

    .NavLinks {
      color: $white;

      &:hover {
        color: $theme-btn-secondary;
      }
    }

    .active-nav-link {
      color: $theme-btn-secondary;
    }

    .wrapper {
      .theme-shift {
        background-color: $dark-mode-main;
        color: $theme-btn-secondary;
        border-color: $theme-btn-secondary;
        transition: all 0.2s;

        &:hover {
          color: $theme-btn-secondary;
        }
      }
    }
  }

  .ProjectLoader {
    color: $theme-btn-secondary;
  }

  h4,
  h1 {
    color: $theme-btn-secondary;
  }

  h3 {
    color: $green;
  }

  .show-more-paragraph {
    color: $white;
  }

  h2,
  a,
  .Footer a,
  .GitHubBtn a p,
  .Blog .search-posts,
  .Blog .search-posts input,
  .BlogPost .back-icon,
  .home .show-more p,
  .BlogItem .title-views h3,
  .ProjectItem .project-img,
  .icon {
    color: $white;
  }

  .GitHubBtn a {
    border-color: $white;

    &:hover {
      border-color: $theme-btn-secondary;
    }
  }

  .ProjectItem .project-content .project-title {
    color: $theme-btn-secondary;
  }

  .Blog .search-posts,
  .Blog .search-posts input {
    border-color: $mat-black;
    background-color: $mat-black;
  }

  .BlogItem .title-views p,
  .BlogItem .post-desc p {
    color: $gray;
  }

  .Blog .no-posts,
  .TimelineInfo .info p,
  .PrimaryHeading p,
  .ProjectItem .project-content .projects-desc {
    color: $dark-mode-white;
  }

  .ProjectTags {
    background-color: $dark-mode-main;

    p {
      color: $white;
    }
  }

  .ProjectItem {
    border-color: $secondary-font;
    &:hover {
      box-shadow: none;
    }
  }

  .active-nav-link {
    color: $theme-btn-secondary;
  }

  .Footer {
    a {
      &:hover {
        color: $theme-btn-secondary;
      }
    }
  }

  ::placeholder {
    color: $white;
  }
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .pages {
    padding: 8rem 2.5rem 0 2.5rem;
    flex: 1;
  }
}

.headings {
  margin-bottom: 4rem;

  h1,
  h2 {
    margin-bottom: 1.5rem;
    font-weight: 500;
  }

  p {
    color: $secondary-font;
    font-size: 1.5rem;
    line-height: 25px;
    font-weight: 400;
  }
}

@media only screen and (min-width: 700px) {
  .App {
    .pages {
      padding: 12rem 2.5rem 0 2.5rem;
    }
  }

  .headings {
    margin-bottom: 4rem;

    p {
      font-size: 1.8rem;
    }
  }
}

@media only screen and (min-width: 770px) {
  .App {
    .pages {
      padding: 12rem 20% 0 20%;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .App {
    .pages {
      padding: 12rem 28% 0 28%;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .App {
    .pages {
      padding: 12rem 32% 0 32%;
    }
  }
}
