$white: #fff;
$trans-white: #ffffffc7;
$tags-bk: #f5f5f5;
$theme-btn: #e5e7eb;
$dark-mode-white: #dfdbdb;
$green: #61b15a;
$gray: #7b8086;
$secondary-font: #4b4f53;
$mat-black: #1f2937;
$black: #000;
