.Nav {
  position: fixed;
  padding: 2.5rem;
  width: 100%;
  z-index: 100;
  background-color: $trans-white;
  backdrop-filter: blur(7px);

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .theme-shift {
      cursor: pointer;
      height: 3.5rem;
      width: 3.5rem;
      background-color: $theme-btn;
      border: 1px solid $theme-btn;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;

      .theme-icon {
        font-size: 1.5rem;
      }
    }

    .links {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-left: 1rem;

      a:not(:last-of-type) {
        margin-right: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  .Nav {
    padding: 4.5rem 2rem;

    .wrapper {
      .theme-shift {
        height: 3.5rem;
        width: 3.5rem;
        background-color: $theme-btn;
        border: 1px solid $theme-btn;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;

        .theme-icon {
          font-size: 1.5rem;
        }
      }

      .links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 0;

        a {
          p {
            font-size: 2rem;
            margin-right: 4rem;
          }
        }

        a:not(:last-of-type) {
          // margin-right: 4rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 770px) {
  .Nav {
    padding: 4rem 12%;
  }
}

@media only screen and (min-width: 1200px) {
  .Nav {
    padding: 4rem 20%;
  }
}

@media only screen and (min-width: 1640px) {
  .Nav {
    padding: 4rem 25%;
  }
}
