@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap");
*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.dark-mode {
  background-color: #000; }
  .dark-mode .Nav {
    background-color: #000; }
    .dark-mode .Nav .wrapper .theme-shift {
      background-color: #000;
      color: #fff; }
  .dark-mode h1,
  .dark-mode h2,
  .dark-mode h3,
  .dark-mode h4,
  .dark-mode a,
  .dark-mode p,
  .dark-mode .Footer a,
  .dark-mode .Home .show-more p,
  .dark-mode .GitHubBtn a p,
  .dark-mode .Blog .search-posts,
  .dark-mode .Blog .search-posts input,
  .dark-mode .BlogPost .back-icon,
  .dark-mode .BlogItem .title-views h3,
  .dark-mode .ProjectItem .project-content .project-title,
  .dark-mode .ProjectItem .project-img,
  .dark-mode .icon {
    color: #fff; }
  .dark-mode .Blog .search-posts,
  .dark-mode .Blog .search-posts input {
    border-color: #1f2937;
    background-color: #1f2937; }
  .dark-mode .BlogItem .title-views p,
  .dark-mode .BlogItem .post-desc p {
    color: #7b8086; }
  .dark-mode .Blog .no-posts,
  .dark-mode .TimelineInfo .info p,
  .dark-mode .PrimaryHeading p,
  .dark-mode .ProjectItem .project-content .projects-desc {
    color: #dfdbdb; }
  .dark-mode .ProjectTags {
    background-color: #000; }
    .dark-mode .ProjectTags p {
      color: #fff; }
  .dark-mode .ProjectItem {
    border-color: #4b4f53; }
    .dark-mode .ProjectItem:hover {
      box-shadow: none; }
  .dark-mode ::placeholder {
    color: #fff; }

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .App .pages {
    padding: 8rem 2.5rem 0 2.5rem;
    flex: 1; }

.headings {
  margin-bottom: 4rem; }
  .headings h1,
  .headings h2 {
    margin-bottom: 1.5rem;
    font-weight: 500; }
  .headings p {
    color: #4b4f53;
    font-size: 1.5rem;
    line-height: 25px;
    font-weight: 400; }

@media only screen and (min-width: 700px) {
  .App .pages {
    padding: 12rem 2.5rem 0 2.5rem; }
  .headings {
    margin-bottom: 4rem; }
    .headings p {
      font-size: 1.8rem; } }

@media only screen and (min-width: 770px) {
  .App .pages {
    padding: 12rem 20% 0 20%; } }

@media only screen and (min-width: 1000px) {
  .App .pages {
    padding: 12rem 28% 0 28%; } }

@media only screen and (min-width: 1440px) {
  .App .pages {
    padding: 12rem 32% 0 32%; } }

.Nav {
  position: fixed;
  padding: 2.5rem;
  width: 100%;
  z-index: 100;
  background-color: #ffffffc7;
  backdrop-filter: blur(7px); }
  .Nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .Nav .wrapper .theme-shift {
      cursor: pointer;
      height: 3.5rem;
      width: 3.5rem;
      background-color: #e5e7eb;
      border: 1px solid #e5e7eb;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .Nav .wrapper .theme-shift .theme-icon {
        font-size: 1.5rem; }
    .Nav .wrapper .links {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-left: 1rem; }
      .Nav .wrapper .links a:not(:last-of-type) {
        margin-right: 1rem; }

@media only screen and (min-width: 700px) {
  .Nav {
    padding: 4.5rem 2rem; }
    .Nav .wrapper .theme-shift {
      height: 3.5rem;
      width: 3.5rem;
      background-color: #e5e7eb;
      border: 1px solid #e5e7eb;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .Nav .wrapper .theme-shift .theme-icon {
        font-size: 1.5rem; }
    .Nav .wrapper .links {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-left: 0; }
      .Nav .wrapper .links a p {
        font-size: 2rem;
        margin-right: 4rem; } }

@media only screen and (min-width: 770px) {
  .Nav {
    padding: 4rem 12%; } }

@media only screen and (min-width: 1200px) {
  .Nav {
    padding: 4rem 20%; } }

@media only screen and (min-width: 1640px) {
  .Nav {
    padding: 4rem 25%; } }

.NavLinks {
  width: 100%;
  font-size: 1.6rem;
  color: #000;
  text-decoration: none; }

.Footer {
  padding: 1rem 2.5rem 0 2.5rem; }
  .Footer div {
    border-top: 1px solid #e5e7eb;
    padding: 2rem 0;
    display: flex;
    flex-direction: column; }
    .Footer div a {
      margin-bottom: 0.5rem;
      font-size: 1.6rem;
      text-decoration: none;
      color: #000; }

@media only screen and (min-width: 770px) {
  .Footer {
    padding: 1rem 20% 0 20%; } }

@media only screen and (min-width: 1000px) {
  .Footer {
    padding: 12rem 28% 0 28%; } }

@media only screen and (min-width: 1440px) {
  .Footer {
    padding: 12rem 32% 0 32%; } }

.Home .show-more {
  text-align: center;
  text-decoration: none; }
  .Home .show-more p {
    color: #000;
    font-weight: 500; }

.SubHeading h2 {
  font-size: 2.2rem; }

@media only screen and (min-width: 700px) {
  .SubHeading h2 {
    font-size: 3.5rem; } }

.PrimaryHeading h1 {
  font-size: 2.5rem; }

@media only screen and (min-width: 700px) {
  .PrimaryHeading h1 {
    font-size: 4rem; } }

.Blog {
  width: 100%; }
  .Blog .queried-items {
    margin-top: 3rem; }
  .Blog .search-posts {
    cursor: text;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e5e7eb;
    border-radius: 6px; }
    .Blog .search-posts .search-icon,
    .Blog .search-posts input {
      font-size: 2rem; }
    .Blog .search-posts .search-icon {
      width: 10%; }
    .Blog .search-posts input {
      height: 100%;
      outline: none;
      width: 90%;
      border: none; }
  .Blog .subhead-margin {
    margin-top: 4rem; }
  .Blog .no-posts {
    text-align: center; }

::placeholder {
  font-family: "Inter", sans-serif; }

.BlogItem {
  cursor: pointer;
  text-decoration: none; }
  .BlogItem .title-views h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000; }
  .BlogItem .title-views p {
    margin: 0.5rem 0;
    font-size: 1.3rem;
    color: #4b4f53; }
  .BlogItem .post-desc {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: #4b4f53; }

@media only screen and (min-width: 500px) {
  .BlogItem .title-views {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .BlogItem .title-views h3 {
      font-size: 1.8rem; }
    .BlogItem .title-views p {
      font-size: 1.5rem; }
  .BlogItem .post-desc {
    font-size: 1.8rem; } }

.BlogPost {
  margin-top: 0.4rem;
  max-width: 100%;
  width: 100%; }
  .BlogPost .back-icon {
    cursor: pointer;
    font-size: 2rem;
    margin-bottom: 1rem; }
  .BlogPost .post-title {
    margin-bottom: 1rem; }
    .BlogPost .post-title h1 {
      font-size: 2.5rem; }
  .BlogPost .author {
    margin-bottom: 1.5rem; }
    .BlogPost .author .auth-name {
      margin-bottom: 0.3rem;
      font-size: 1.3rem; }
    .BlogPost .author .art-views {
      font-size: 1.1rem; }
  .BlogPost .img {
    margin-bottom: 4rem; }
    .BlogPost .img img {
      max-width: 100%;
      max-height: 100%; }

.PostEditor {
  padding-top: 4rem; }
  .PostEditor__editor {
    width: 100%; }

.Editor {
  width: 100%;
  border: 2px solid #000;
  border-radius: 3px; }
  .Editor__tools, .Editor__textarea {
    padding: 2rem; }
  .Editor__tools {
    display: flex;
    border-bottom: 2px solid #000; }
    .Editor__tools div:not(:last-of-type) {
      margin-right: 2rem; }
    .Editor__tools .edit-icons {
      cursor: pointer;
      margin-right: 0.8rem;
      font-size: 2rem;
      color: #4b4f53;
      transition: all 0.1s; }
      .Editor__tools .edit-icons:hover {
        color: #000; }
    .Editor__tools--font-changers {
      display: flex; }
  .Editor__textarea {
    outline: none;
    padding: 1.5rem;
    width: 100%;
    min-height: 20rem;
    resize: vertical;
    font: inherit;
    font-size: 1.7rem;
    border: none; }

.BodyText {
  margin-bottom: 4rem;
  width: 100%; }
  .BodyText p {
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 35px; }

.github-btn {
  margin-bottom: 3rem; }

.ProjectItem {
  cursor: pointer;
  margin-bottom: 2rem;
  display: flex;
  padding: 1.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.1s; }
  .ProjectItem:hover {
    box-shadow: 1px 2px 2px #e5e7eb; }
  .ProjectItem .project-img {
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    color: #000; }
  .ProjectItem .project-content .project-title {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #000; }
  .ProjectItem .project-content .projects-desc {
    font-size: 1.38rem;
    line-height: 17px;
    margin-bottom: 1rem; }
  .ProjectItem .project-content div {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0.6rem; }

.ProjectTags {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; }
  .ProjectTags p {
    color: #000;
    font-size: 1.2rem;
    font-style: italic; }

.GitHubBtn {
  display: flex;
  justify-content: center;
  align-items: center; }
  .GitHubBtn a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid #e5e7eb;
    border-radius: 3px; }
    .GitHubBtn a p {
      font-size: 1.7rem;
      color: #000;
      margin: auto 0; }
      .GitHubBtn a p span {
        font-size: 1.7rem; }

.Timeline {
  margin-top: 2rem;
  border-bottom: 1px solid #e5e7eb; }
  .Timeline h3 {
    font-size: 2rem;
    margin-bottom: 2rem; }
  .Timeline div {
    margin-bottom: 2rem; }

.TimelineInfo {
  display: flex; }
  .TimelineInfo .icon {
    margin-right: 0.7rem;
    font-size: 1.5rem;
    color: #61b15a; }
  .TimelineInfo .info h4 {
    font-size: 1.5rem; }
  .TimelineInfo .info p {
    margin-top: 0.2rem;
    font-size: 1.3rem; }
